@media screen and body(max-width:1000px){
    background-color: pink;}
    .title{ 
        color: mediumorchid;
        text-align: center;
    }
    .card{
        width: 45%;
    }

    @media screen and body(max-width:1000px){
        background-color: hotpink;}
        .title{
            color: mediumorchid;
            text-align: center;
        }
        .card{
            width: 45%;
        }
    
@media screen and body(max-width:1000px){
    background-color: hotpink;}
    .title{
        color: mediumorchid;
        text-align: center;
    }
    .card{
        width: 45%;
    }

    