*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
img{width: 100%; display: block;}
/*-- Card--*/
.card{
    width: 200px;
    box-shadow: 0px 1px 5px 1px grey;
    border-radius: 5px;
    overflow: hidden;
    margin: 2% 0%;
    transition: ease 400ms;   
}
.card:hover{
    box-shadow: 0px 0px 5px 1px navy;
    transform: scale(1.01);

}
.cardContent{
padding: 0.05em 0.08em;
}
.cardContent p:nth-child(1){
    color: coral;
    font-size: 1.5em;
    font-weight: 800;

}
.cardContent p:nth-child(2){
    color: darkblue;

}
.cardContainer{
    display: flex;
    width: 90%;
    margin: 5em auto;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
/*--Images Card--*/
.imgCard{
    width: 45%;
    margin-bottom: 3em auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(100,100,100);
    overflow: hidden;
    position: relative;
}

.imgCardContent{
    position: absolute;
    background-color: rgba(rgba(200, 100, 50, 0.7), green, blue, alpha);
    top: 20%;
    bottom: 20%;
    left: 30%;
    right: 30%;
    text-align: center;
}

.p1_imgCardContent{
    color: darkgreen;
    font-size: 2em;
    
}
.imgCardContent2{
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: aquamarine;
}
.p1_imgCardContent2{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 400;
margin-top: 2em;

}

.imgCard:hover .p1_imgCardContent2{
    color: cadetblue;
    font-size: 2.1em;

}
.imgCard:hover{
    box-shadow: none;
    border: ridge 2px orangered;
}

/*  Simple Element Animation */

.square{
    width: 200px;
    height: 200px;
    background-color: aquamarine;   
}

.square:hover{
    border-radius: 50%;
    background-color: darkorchid;
}
/*  Zoom Animation */

.zoomContainer{
    width: 300px;
    position: relative;
    margin: 5em;
}
.zoomMSG, .slideMSG{
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: rgba(200, 100, 50, 0.7);
    font-size: 2em;
    color: aliceblue;
    text-align: center;
    padding-top: 20%;
    transform: scale(0);
    transition: ease 800ms;
}
.zoomMSG{
    transform: scale(0);
}
.zoomContainer:hover .zoomMSG{
    transform: scale(1);
}

/*  Slide Animation */

.slideMSG:hover{
    transform: translateX(300px);
}

